.cabecera{
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
}

/* @media screen and (min-width:0){
    .cabecera{
        padding: 0 1rem;
        justify-content: center;
    }
}


@media screen and (min-width:0){
    .cabecera{
        padding: 0 5rem;
        justify-content:  space-between;
    }
} */