.descripcion{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: url("/img/background.jpg") no-repeat center center fixed;
    background-size: cover;;

}