.servicio__boton{
    background-color: gold;
    padding: 1rem;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0 0 0;
    font-size: 1rem;
    transition: all 1s ease;
}

.servicio__boton:hover{
    opacity:.8 ;
    transform: scale(1.1);
    /* font-size: 1.05rem; */
}
.servicio__boton:active{
    background-color: goldenrod ;
}